<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%=title%></title>
        <style>
            #requests {
              font-family: Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            #requests td, #requests th {
              border: 1px solid #ddd;
              padding: 8px;
            }
            
            #requests tr:nth-child(even){background-color: #f2f2f2;}
            
            #requests tr:hover {background-color: #ddd;}
            
            #requests th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #04AA6D;
              color: white;
            }
        </style>
        <link rel="stylesheet" href="eCare.css">
	</head>
    <body>
        <header>
            <div class="logo_flex">
                <figure class="logo_image">
                    <a href="/"><img src="photos/logo.png" alt="logo"></a>
                </figure>
                <h1 class="logo">eCare</h1>
            </div>
        <nav id="primary_nav">
            <ul class="primary_nav">
                <li class="pnav active"><a href="/"><button>Home</button></a></li>
                <li class="pnav"><a href="/male"><button>Male</button></a></li>
                <li class="pnav"><a href="/female"><button>Female</button></a></li>
                <li class="pnav"><a href="/form"><button>Form</button></a></li>
                <li class="pnav"><a href="/requests"><button>All Requests</button></a></li>
                <li class="pnav"><a href="/charityinformation"><button>Charity Information</button></a></li>
            </ul>
        </nav>
        </header>
        <% if(requestType == "name"){%>
            <a href="/requests">All requests</a>
        <%} %>
        <br></br>
        <form id="request_by_name" action="/requests" method="GET">
            <label for="name">Request by Name</label>
            <input type="text" id="cname" name="cname" placeholder="Name" required>
        </form>
        <br></br>
        <h1><%=title%></h1>
        <table class="table" id="requests">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">message</th>
                    <th scope="col">date</th>
                </tr>
            </thead>
            <tbody>
                <% if(data.length){
                for(var i = 0; i< data.length; i++) {%>
                <tr>
                    <td><%= data[i].request_id%></td>
                    <td><%= data[i].cname%></td>
                    <td><%= data[i].cmessage%></td>
                    <td><%= data[i].date_of_request%></td>
                </tr>
                <% }
                }else{ %>
                <tr>
                    <td colspan="3">No Data Available</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>